@use 'breakpoints' as media;

.menu-list {
    display: flex;
    gap: 40px;

    @include media.breakpoint(md) {
        display: none;

        &_mobile {
            gap: 25px;
            flex: 1 auto;
            display: flex;
            flex-direction: column;
        }
    }

    &__item {
        font-size: 24px;

        @include media.breakpoint(lg){
             font-size: 18px;
        }
    }
}